doctype html
html
  head 
    style
      include home.css
    title Express it - blog app
    script 
      include ./javascript.js
    
  body
    include ./partials/header.pug 
    
    div.hero
      div.quote-div
        i.fas.fa-quote-left
        p.quote=quote.quote
        p.author=quote.author
        button.new-quote(
        onclick="fetchQuote()")
          i.fas.fa-redo-alt
    div.date
      h4= new Date().toLocaleString("en-US" , {day : "2-digit" , month : "short" })
      h4=new Date().getFullYear()
    div.container
       
      div.posts
        each post in blogs
          a(href=`blog/post/${post.id}`)
            div.post
              img(src=post.thumbnail)
              h4.blog-heading= post.tittle
              p.blog-text-content=post.description
              span.post-date= post.time.toLocaleString("en-US" , {day : "2-digit" ,  month : "short"  , year : "2-digit"})
              //- span.post-user=post.user.substring(0,10) + "..."
          
      
      div.aside
        h4 About me
        div.profile
          img.owner-image(src='https://avatars.githubusercontent.com/u/90693893?s=400&u=f9f350b6ba883e9ed589b74c4af7ff199d0982c9&v=4')
          h4.heading Sanket Gawande
          p.contact sanketgawande96k@gmail.com
          p.about Im Btech 3rd year student , pursuing my course computer engineering at Government College of engineering , Yavatmal . I created this fictional blog site for my project in NodeJs 
        div.social-handles
          a(href="/") 
            i.fab.fa-facebook-f
          a(href="/") 
            i.fab.fa-instagram
          a(href="/") 
            i.fab.fa-twitter
          a(href="/") 
            i.fab.fa-reddit
        div.category
          a.active(href="/category?category?") All
          a(href="/category?category=") Food
          a(href="/category?category=") College
          a(href="/category?category=") Nature
          a(href="/category?category=") Fitness
          a(href="/category?category=") Decoration

    include ./partials/footer.pug
    